body {
  background-color: #123;
  color: #BE5611;
}
header{
	padding:20px;	
}

header h3{
	text-align: center;
	font-family: Poiret One,cursive;
	font-size: 30px;
}
header hr{
	width:10%;
}

header h3:hover{
	color:firebrick;
	transition: 2s color;
}

main {
  width: 70vw;
  background-color: #123;
  margin: auto;
  margin-top: 2.5vw;
}

.game {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.row:nth-child(1) .box:nth-child(1) {
  border-bottom: 1vw solid #BE5611;
}
.row:nth-child(1) .box:nth-child(2) {
  border-bottom: 1vw solid #BE5611;
}

.row:nth-child(2) .box:nth-child(1) {
  border-bottom: 1vw solid #BE5611;
  border-left: 1vw solid #BE5611;
}
.row:nth-child(2) .box:nth-child(2) {
  border-bottom: 1vw solid #BE5611;
  border-left: 1vw solid #BE5611;
}
.row:nth-child(2) .box:nth-child(3) {
  border-left: 1vw solid #BE5611;
}

.row:nth-child(3) .box:nth-child(1) {
  border-bottom: 1vw solid #BE5611;
  border-left: 1vw solid #BE5611;
}
.row:nth-child(3) .box:nth-child(2) {
  border-bottom: 1vw solid #BE5611;
  border-left: 1vw solid #BE5611;
}
.row:nth-child(3) .box:nth-child(3) {
  border-left: 1vw solid #BE5611;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  z-index: 5;
}

.circle {
  height: 10vw;
  width: 10vw;
  border: 1.5vw solid #BE5611;
  border-radius: 50%;
  animation: circlea .6s ease;
}

.cross {
  position: relative;
  height: 14vw;
  width: 1.5vw;
  background-color: #BE5611;
  transform: rotate(45deg);
  animation: crossa .45s ease;
}

.cross:after {
  position: absolute;
  content: '';
  height: 14vw;
  width: 1.5vw;
  background-color: #BE5611;
  transform: rotate(90deg);
  transform: all .6s;
  animation: crossa .45s ease;
}

@keyframes crossa {
  0% {
    height: 0;
  }
  100% {
    height: 14vw;
  }
}
@keyframes circlea {
  0% {
    height: 0;
    width: 0;
  }
  70% {
    height: 11vw;
    width: 11vw;
  }
  100% {
    height: 10vw;
    width: 10vw;
  }
}
.click, .init {
  cursor: pointer;
}

footer p{
	text-align: center;
	padding:20px;
}

footer a{
	color: #BE5611;
}

footer a:hover{
	color:firebrick;
	transition:2s color;
}